<%- include('template/cabecera', {tituloWeb: titulo}) %>
    <main class="text-center">
        <div class="alert alert-primary" role="alert">
            <h1 class="text-primary fw-bold fs-1"><i class="bi bi-exclamation-octagon"></i> <%= descripcion %></h1>
        </div>
        <div class="container">
            <img src="/images/error404.png" style="width: 400px; height: 400px">
        </div>
    </main>
    <footer class="container text-center">
        <p class="fw-bold">&copy; 2022 Daniel Sotelo Isidro</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/consumo-api.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/404.js"></script>
</body>
</html>