<div class="card border-primary p-2 m-2 mx-auto" style="width: 20rem;">
    <img src="..." class="card-img-top" style="height: 100">
    <div class="card-body">
      <h5 class="card-title">Titulo</h5>
      <p class="card-text">Descripcion</p>
      <a href="#" class="btn btn-primary">Acceder</a>
    </div>
  </div>